version: '3'
services:
  jup:
    volumes:
      - ~/Dropbox/tyot/sasse:/home/jovyan/work
    environment:
      PYTHONUNBUFFERED: 1
    image: tervo/pystan
    ports:
      - "81:8888"

  tracker:
    volumes:
      - .:/usr/src/app
    environment:
      AWS_ACCESS_KEY_ID: ***REMOVED***
      AWS_SECRET_ACCESS_KEY: ***REMOVED***
    build:
      context: ./tracker
      dockerfile: Dockerfile
    container_name: tracker
    image: sasse:storm_tracker
    command: python -u tracker/storm_tracker.py --starttime 2010-01-23T13:00:00 --endtime 2010-07-23T13:00:00 --smartmet_config_name dev --db_config_name local
    #command: python -u tracker/storm_tracker.py --starttime 2010-07-23T13:00:00 --endtime 2010-07-23T13:00:00
    #command: python -u tracker/storm_tracker.py --starttime 2010-07-23T06:00:00 --endtime 2010-08-10T01:00:00
    #command: python -u tracker/storm_tracker.py --starttime 2010-07-23T06:00:00 --endtime 2010-07-23T06:00:00
