version: '3'
services:
  jup:
    volumes:
      - .:/home/jovyan/work
    environment:
      PYTHONUNBUFFERED: 1
    image: tervo/pystan
    ports:
      - "81:8888"

  tracker:
    volumes:
      - .:/usr/src/app:Z
    environment:
      AWS_ACCESS_KEY_ID: ***REMOVED***
      AWS_SECRET_ACCESS_KEY: ***REMOVED***
    build:
      context: ./tracker
      dockerfile: Dockerfile
    container_name: tracker
    image: sasse:storm_tracker
    #command: python -u tracker/storm_tracker.py --starttime ${StartTime:-2011-03-03T11:00:00} --endtime ${EndTime:-2011-03-03T11:00:00} --smartmet_config_name ${smartmet_config_name:-dev} --db_config_name ${db_config_name:-local}
    #command: python -u tracker/storm_tracker.py --starttime ${StartTime:-2011-07-23T13:00:00} --endtime ${EndTime:-2011-07-23T13:00:00} --smartmet_config_name ${smartmet_config_name:-dev} --db_config_name ${db_config_name:-local}
    #command: python -u tracker/storm_tracker.py --starttime ${StartTime:-2010-07-23T06:00:00} --endtime ${EndTime:-2010-07-23T06:00:00} --smartmet_config_name ${smartmet_config_name:-dev} --db_config_name ${db_config_name:-local}

    command: python -u tracker/storm_tracker.py --starttime ${StartTime:-2011-12-30T21:00:00} --endtime ${EndTime:-2011-12-30T23:00:00} --smartmet_config_name ${smartmet_config_name:-dev} --db_config_name ${db_config_name:-local} --dataset_name ${DatasetName:-classification_dataset_dev} --requests_throttle_time ${requests_throttle_time:-0}


    #command: python -u tracker/storm_tracker.py --starttime 2010-07-23T06:00:00 --endtime 2010-08-10T01:00:00

  create_dataset:
    volumes:
      - .:/usr/src/app:Z
    environment:
      AWS_ACCESS_KEY_ID: ***REMOVED***
      AWS_SECRET_ACCESS_KEY: ***REMOVED***
      CURL_CA_BUNDLE: /etc/pki/tls/certs/ca-bundle.crt
    build:
      context: ./create_dataset
      dockerfile: Dockerfile
    container_name: create_dataset
    image: sasse:create_dataset
    command: python -u create_dataset/create_dataset.py --config_filename ${config_filename:-cnf/options.ini} --config_name ${config_name:-test} --db_config_filename ${db_config_filename:-cnf/sasse_aws.yaml} --dataset ${dataset:-loiste_jse} --dataset_table ${dataset_table:-classification_dataset_loiste_jse_debug} --starttime ${starttime:-2010-01-02} --endtime ${endtime:-2010-01-03}

  test:
    volumes:
      - .:/usr/src/app:Z
    environment:
      AWS_ACCESS_KEY_ID: ***REMOVED***
      AWS_SECRET_ACCESS_KEY: ***REMOVED***
      CURL_CA_BUNDLE: /etc/pki/tls/certs/ca-bundle.crt
    build:
      context: ./create_dataset
      dockerfile: Dockerfile
    container_name: create_dataset
    image: sasse:create_dataset
    command: python create_dataset/test.py

  cl:
    volumes:
      - .:/usr/src/app:Z
    environment:
      AWS_ACCESS_KEY_ID: ***REMOVED***
      AWS_SECRET_ACCESS_KEY: ***REMOVED***
    build:
      context: ./classifier
      dockerfile: Dockerfile
    container_name: classifier
    image: sasse:classifier
    command: python -u classifier/train_classifier.py --config_filename ${config_filename:-cnf/options.ini} --config_name ${config_name:-thin} --train_data ${train_data:-data/energiateollisuus_random_15_all_res.csv} --test_data ${test_data:-data/energiateollisuus_random_15_test.csv} --dataset ${dataset:-local_random} --model ${model:-gp} # --max_size 1000

  classify:
    volumes:
      - .:/usr/src/app:Z
    environment:
      AWS_ACCESS_KEY_ID: ***REMOVED***
      AWS_SECRET_ACCESS_KEY: ***REMOVED***
    build:
      context: ./classifier
      dockerfile: Dockerfile
    container_name: classifier
    image: sasse:classifier
    command: python -u classifier/classify.py --starttime ${StartTime:-2010-06-12T00:00:00} --endtime ${EndTime:-2010-06-13T00:00:00} --config_filename ${config_filename:-cnf/options.ini} --config_name ${config_name:-thin_energiateollisuus} --db_config_name local --model_file ${model_file:-models/svc/energiateollisuus/thin/recent/model.joblib} --scaler_file ${scaler_file:-models/scaler/energiateollisuus_recent_15_thin.joblib}

  examples:
    volumes:
      - .:/usr/src/app:Z
    environment:
      AWS_ACCESS_KEY_ID: ***REMOVED***
      AWS_SECRET_ACCESS_KEY: ***REMOVED***
    build:
      context: ./classifier
      dockerfile: Dockerfile
    container_name: classifier
    image: sasse:classifier
    command: python -u classifier/create_examples.py --config_filename ${config_filename:-cnf/options.ini} --config_name ${config_name:-thin_energiateollisuus} --db_config_name local --example_config_file cnf/examples.yaml


  evaluate:
    volumes:
      - .:/usr/src/app:Z
    environment:
      AWS_ACCESS_KEY_ID: ***REMOVED***
      AWS_SECRET_ACCESS_KEY: ***REMOVED***
    build:
      context: ./classifier
      dockerfile: Dockerfile
    container_name: evaluator
    image: sasse:classifier
    command: python -u classifier/evaluate.py --config_filename ${config_filename:-cnf/options.ini} --config_name ${config_name:-test}
